.DS_Store
.ipynb_checkpoints
*.pyc
*.h5
*.keras
*.zip
*.mp4
*.npz
*.npy
*.p
*.tar
*.tar.gz
*.wav
*.pb
*.pth
mnist_*.png
data/hyena
data/MNIST
*.parquet
data/ESC-50-master
data/sign-lang
data/gan
tmp.*