corner==2.2.3
imageio==2.37.0
ipykernel==7.1.0
ipywidgets==8.1.8
jax==0.8.0
jupyterlab==4.4.10
keras==3.12.0
matplotlib==3.10.7
networkx==3.5
numpy==2.3.4
optax==0.2.6
palmerpenguins==0.1.4
pandas==2.3.3
scikit_image==0.25.2
scikit-learn==1.7.2
scipy==1.16.3
seaborn==0.13.2
statsmodels==0.14.5
